<div class="bg-container">
    <div class="left">
    </div>
    <div class="right">
        <app-grid gridSize="small"></app-grid>
    </div>
</div>

<div class="container">
    <div class="left">
        <app-logo></app-logo>
        <app-sidebar></app-sidebar>
        <a [routerLink]="'/app'" class="btn btn--secondary btn--large panel-btn">Panel de administración
        </a>
        <app-footer aligned="centered"></app-footer>
    </div>
    <div class="right">
        <app-user-logged-in></app-user-logged-in>
        <router-outlet></router-outlet>
    </div>    
</div>