@import '../../../assets/styles/variables';

:host {
  padding-top: 24px;
  box-sizing: border-box;
}

.header {
  padding-left: 138px;
}

@media (max-width: $breakpoint-tablet) {
  .header {
    padding-left: 68px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .header {
    padding-left: 48px;
  }
}
