<div class="hero">
  <div class="hero__background">
  </div>
  <div class="hero__content">
    <h2>Abre más puertas. <br/> Cierra más negocios.</h2>
    <div class="hero__description-block">
      <h4>Bienvenido a PLATPRES tu nueva plataforma de presentación de negocios. Crea gratis tu tarjeta virtual. Compártela y llega a más clientes.</h4>
      <h4>¡Únete ya!</h4>
      
      <a [routerLink]="'login'" class="btn btn--large btn--tertiary">¡Comencemos! 
        <i class="fa fa-light fa-arrow-right" aria-hidden="true"> </i>
      </a>
    </div>
  </div>
</div>
