@import '../../../assets/styles/variables';

:host {
    display: flex;
    justify-content: center;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);

    @media (max-width: $breakpoint-mobile) {
        width: 90%;
    }
}

.card {
    background: white;
    border: 1px solid $lighter-gray-color;
    border-radius: 15px;
    width: 500px;
    height: 430px;
    padding: 28px 41px;

    @media (max-width: $breakpoint-mobile) {
        width: 100%;
        padding: 28px 30px;
    }
}

.forgot-password {
    display: block;
    margin-bottom: 24px;
}
