@import '../../../assets/styles/variables';

:host {
  height: 100%;
  display: block;
}

.grid {
  background-image: url('../../../assets/green-point.png');
  background-size: 30px;
  height: 100%;

  &.small {
    background-size: 28px;
  } 
}

@media (max-width: $breakpoint-mobile) {
  .grid {
    background-size: 23px;
  }
}
