<ul class="sidebar">
    <li [routerLink]="'/app'" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="'/app'">
            <img src="../../../assets/images/sidebar-menu-icon.png">
            Inicio
            <i class="fa fa-light fa-arrow-right" aria-hidden="true"> </i>
        </a>
    </li>
    <li [routerLink]="'cards'" routerLinkActive="active">
        <a [routerLink]="'cards'">
            <img src="../../../assets/images/sidebar-menu-icon.png">
            Tarjetas / Presentaciones
            <i class="fa fa-light fa-arrow-right" aria-hidden="true"> </i>
        </a>
    </li>    
    <li [routerLink]="'card-holder'" routerLinkActive="active">
        <a [routerLink]="'card-holder'">
            <img src="../../../assets/images/sidebar-menu-icon.png">
            Tarjetero
            <i class="fa fa-light fa-arrow-right" aria-hidden="true"> </i>
        </a>
    </li>
    <li [routerLink]="'leads'" routerLinkActive="active">
        <a [routerLink]="'leads'">
            <img src="../../../assets/images/sidebar-menu-icon.png">
            Negocios
            <i class="fa fa-light fa-arrow-right" aria-hidden="true"> </i>
        </a>
    </li>
    <li [routerLink]="'customers'" routerLinkActive="active">
        <a [routerLink]="'customers'">
            <img src="../../../assets/images/sidebar-menu-icon.png">
            Listado de clientes
            <i class="fa fa-light fa-arrow-right" aria-hidden="true"> </i>
        </a>
    </li>
    <li [routerLink]="'virtual-room'" routerLinkActive="active">
        <a [routerLink]="'virtual-room'">
            <img src="../../../assets/images/sidebar-menu-icon.png">
            Sala virtual
            <i class="fa fa-light fa-arrow-right" aria-hidden="true"> </i>
        </a>
    </li>
    <li [routerLink]="'company'" routerLinkActive="active">
        <a [routerLink]="'company'">
            <img src="../../../assets/images/sidebar-menu-icon.png">
            Perfil empresa
            <i class="fa fa-light fa-arrow-right" aria-hidden="true"> </i>
        </a>
    </li>
</ul>
