/* You can add global styles to this file, and also import other style files */
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';
@import './assets/styles/variables';
@import './assets/styles/grid';
@import './assets/styles/typography';
@import './assets/styles/buttons';
@import './assets/styles/badges.scss';
@import './assets/styles/forms';

html, body {
  height: 100%;
  font-family: 'Inter', 'Arial', sans-serif;
}

body {
  overflow: hidden;
  background-color: $light-color;
  margin: 0px;
  color: $gray-color;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.16px;

  -webkit-box-sizing: border-box;
   box-sizing: border-box;
   min-width: 320px;
   width: 100%;
}
