/* You can add global styles to this file, and also import other style files */
@import './assets/styles/variables';

html, body {
  height: 100%;
  font-family: "Inter", "Arial", sans-serif;
}

body {
  background-color: $light-color;
  margin: 0px;
  color: $gray-color;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.16px;
}

h1 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.32px;
  color: $dark-color;
}

h2 {
  font-size: 28px;
  color: $dark-color;
  line-height: 35px;
  letter-spacing: 0.28px;
}

h3 {
  font-size: 24px;
  color: $dark-color;
  line-height: 30px;
  letter-spacing: 0.24px;
}

h4 {
  font-size: 18px;
  color: $dark-color;
  line-height: 28px;
  letter-spacing: 0.18px;
}

@media (max-width: $breakpoint-mobile) {
  h1 {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.24px;
  }

  h2 {
    font-size: 22px;
    line-height: 27.5px;
    letter-spacing: 0.22px;
  }

  h3 {
    font-size: 18px;
    line-height: 22.5px;
    letter-spacing: 0.18px;
  }

  h4 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.16px;
  }
}
